version: "3"

services:
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
      - 443:443
    volumes:
      - /docker-home-infra/volumes/nginx/web:/var/www
      - /docker-home-infra/conf/nginx_sites.conf:/etc/nginx/conf.d/default.conf:ro
      - /docker-home-infra/conf/htpasswd:/etc/nginx/htpasswd:ro
      - /docker-home-infra/volumes/letsencrypt/etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      nginx:
networks:
  nginx:

#####################################################################
# Notes

# plex:
#   # https://github.com/timhaak/docker-plex
#   image: timhaak/plex
#   ports:
#     - 32400:32400
#   volumes:
#     - /docker-home-infra/volumes/plex/config:/config
#     - /autofs/media:/media
#
#   # After creation:
#   # sudo emacs /docker-home-infra/volumes/plex/config/Library/Application\ Support/Plex\ Media\ Server/Preferences.xml
#   # Add:  allowedNetworks="192.168.3.0/255.255.255.0"
# restart only apt-cache and connect with bash
# export ID=`docker ps|grep apt-cacher |awk '{print $1}'`; docker stop $ID; docker rm $ID; make config; docker-compose up -d; sleep 1; export ID=`docker ps|grep apt-cacher |awk '{print $1}'`; docker exec -it $ID bash

