
## Create a locally unified hackmd+plantuml instance
server {
    listen       80;
    server_name  hackmd.{{ nginx.domain }};

    autoindex off;
    client_max_body_size 32m;  # For uploads, themes, etc

    location / {
        proxy_pass http://hackmd:3000;
        proxy_set_header        Host            $host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    location /svg {
        proxy_pass http://plantuml:8080;
        proxy_set_header        Host            $host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
