- ParameterKey: EnvironmentName
  ParameterValue: REPLACE
- ParameterKey: InstanceType
  ParameterValue: m4.large
- ParameterKey: InstanceAllowedSshCidr
  ParameterValue: REPLACE
- ParameterKey: KeyName
  ParameterValue: REPLACE
- ParameterKey: TagApplicationName
  ParameterValue: REPLACE
- ParameterKey: TagMailAlias
  ParameterValue: REPLACE
- ParameterKey: TagResourceOwner
  ParameterValue: REPLACE
- ParameterKey: TagDataClassification
  ParameterValue: REPLACE
- ParameterKey: TagEnvironment
  ParameterValue: REPLACE
- ParameterKey: TagDataTaxonomy
  ParameterValue: REPLACE
- ParameterKey: TagOrgRole
  ParameterValue: REPLACE
